#pragma code_page(65001)

#include <windows.h>
#include "..\\app\\resource.h"

/**
 * @brief Qt 市场版应用主图标资源。
 */
1 ICON "..\\app\\assets\\app.ico"
IDI_APP_ICON ICON "..\\app\\assets\\app.ico"

// 嵌入应用清单:UAC requireAdministrator + 公共控件 v6 + supportedOS(Win10/11) + PerMonitorV2 DPI + longPathAware。
// 链接器设 /MANIFEST:NO,此资源即进程唯一清单。
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "DiskLens.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "SunnyFan"
            VALUE "FileDescription", "磁盘洞察"
            VALUE "FileVersion", "0.1.0"
            VALUE "InternalName", "磁盘洞察"
            VALUE "OriginalFilename", "磁盘洞察.exe"
            VALUE "ProductName", "磁盘洞察"
            VALUE "ProductVersion", "0.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
